<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <script src="js/jquery.min.js"></script>
    {{{body}}}

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

