<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Smart Mirror</title>
    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/css/main.css">
  </head>
  <body>
    <script src="http://localhost:3000/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    {{{body}}}
    <script src="http://localhost:3000/js/bootstrap.min.js"></script>
  </body>
</html>

