<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-3">
        Temperature(low): {{weather.low}}
        Temperature(high): {{weather.high}}
        Weather: {{weather.text}}
      </div>      
    </div>
  </div>
</div>