<div class="container">
  <header>
    <div class="container">
        <div class="row">
            <div class="six columns">
                <span class="icon-menu2 menu" id="sandwich"></span>
            </div>
            <div class="six columns right">
                <span id="weather"><span class="light">Low</span> 路 <b>{{weather.low}} F </b></span>
                <span class="light">High</span> 路 <b>{{weather.high}} F </b></a></span>
                <span class="light">Weather</span> 路 <b>{{weather.text}}</b></a></span>
                <span id="day">Wednesday, November 29 路 <b id="time">10:42:16</b> <span class="light" id="timePrefix">am</span></span>
            </div>
        </div>
    </div>
</header>
</div>
<script src="http://localhost:3000/js/initial.js"></script>